# node_modules
**/node_modules/**
**/TypeScript/.vscode/**
**/TypeScript/Hashcode/typings/**
orion/hashcode2016round1/practice.out
orion/hashcode2016round1/sol.js
orion/hashcode2016round1/sol.js.map
orion/painting/.vscode/launch.json
orion/hashcode2016round1/sol.js.map
orion/hashcode2016round1/sol.js.map
orion/hashcode2016round1/sol.js.map
MyAlgoProject/*
!MyAlgoProject/hashcode/
*.js
